**To Do**
1. 
There 2946 fossils inclueded in this dataset
2. 
614 fossils are labeled to the genus level.
2107 fossils are labeled to the species level.
3. 
There are 2405 unique names in this data set.